<div class="flex-container">
  <div class="row">
    <div class="column">
      <% @artworks.each_with_index do |artwork, index| %>
        <% if index.even? %>
          <%= link_to image_tag(url_for(artwork.cover_image)), artwork %>
        <% end %>
      <% end %>
    </div>
    <div class="column">
      <% @artworks.each_with_index do |artwork, index| %>
        <% if index.odd? %>
          <%= link_to image_tag(url_for(artwork.cover_image)), artwork %>
        <% end %>
      <% end %>
    </div>
  </div>
</div>

