@import "variables";

  footer {
    position: fixed;
    width: 100%;
    bottom: 0px;
    left: 0px;
    margin-left: auto;
    margin-right: auto;
    color: $footer-font-color;
    background-color: $footer-background-color;
    padding-top: 5px;
    padding-bottom: 5px;
    font-size: $font-size;
  
    a { 
      color: $grey;
      text-decoration: none;
      &:visited { color: inherit; }
    }
  
    .footer-info {
      padding-left: 50px;
      padding-right: 50px;
      line-height: 1.5em;

      .left {
        float: left;
      }

      .right {
        float: right;
      }

      @media screen and (max-width: $screen-md) {
        .left { float: none; }
        .right { float: none; }
        text-align: center;
      }
    }
  }