@import "variables";

body {
    background-color: $page-background-color;
    padding-top: $navbar-height;
    padding-bottom: $footer-margin-height;
    font-family: 'Michroma';
    font-size: $font-size;
    // line-height: $line-height;
    word-spacing: 10px;
    color: $page-font-color;
    padding-left: 25px;
    padding-right: 25px;
}

input, label, textarea {
    font-size: $font-size-large;
    margin-top: 5px;
    margin-bottom: 5px;
}

input[type='checkbox'] {
    transform: scale(2);
}

label {
    margin-top: 10px;
}

a:hover {
    color: #fff;
    background-color: #000; 
}

th {
    padding-bottom: 5px; 
}

td {
    padding: 0 5px 7px; 
}

div.field, div.actions {
    margin-bottom: 10px; 
}


label {
    display: block; 
}

.title {
    font-weight: bold;
    font-size: 18px;
}

.blog {
    display: block;
    padding: 5px;
    width: 100%;
    text-align: left;
    margin-right: auto;
    max-width: 1000px;

    img {
        width: 100%;
    }
}

.navigation-buttons {
    width: auto;
    margin-top: 50px;
    margin-bottom: 50px;
    padding-right: 50px;
    text-align-last: center;
    font-size: 2em;
    a {
        text-decoration: none;
        background-color: transparent;
        color: $page-font-color;
        opacity: 0.5;
    }
    a:hover {
        opacity: 1.0;
    }
}

.control {
    a {
        padding: 2px;
        background-color: $grey;
        color: $white;
        text-decoration: none;
        text-transform: uppercase;
        border-radius: 4px;
    }
    a:hover {
        background-color: $red;
    }
}

.contacts {
    max-width: 500px;
    font-size: $font-size;
    line-height: 4em;
    text-align: justify;
    .left {
        width: 50%;
        float: left;
    }
    .right {
        width: 50%;
        float: right;
    }
}