$navigation-bar-height: 75px;
$footer-margin-height:  35px;
$navbar-background-colour: #222;
$footer-background-colour: $navbar-background-colour;

$page-background-colour: #222;
$page-background-colour-secondary: #777777;

$primary-colour: #555555;

$twitter-blue: #4099FF;
$facebook-blue: #3b5998;

// $font-stack: Helvetica, arial, sans-serif;
$font-stack: 'Cormorant Garamond', serif;
$font-size: 14px;
$font-size-large: 18px;
$line-height: 18px;

$screen-xs: 320px;
$screen-sm: 480px;
$screen-ms: 540px;
$screen-md: 768px;
$screen-lg: 960px;
$screen-xl: 1200px;
