

<!--div class='footer-social-links'>
  <a href=<%= ENV['EMAIL_LINK'] %> target="_blank" aria-hidden="true"><i class="fa fa-envelope"></i></a>
  <a href=<%= ENV['INSTAGRAM_LINK'] %> target="_blank" aria-hidden="true"><i class="fa fa-instagram"></i></a>
</div-->
<div class="footer-info">
  <div class="left">
    &#9400; 2020
    <b>Livia Vourlakidou</b>
  </div>
  <div class="right">
    <a href='mailto:kvourlakidis@gmail.com' aria-hidden="true">Developed by</a>
    <b><a href='https://twitter.com/kirilldev' target='_blank'>@kirilldev</a></b>
    using
    <i>Ruby on Rails</i></a>
  </div>
</div>
