
<!-- 
  See: https://www.w3schools.com/howto/howto_js_topnav_responsive.asp 
-->

<div class="topnav" id="myTopnav">
  <div class="brand">Livia Vourlakidou</div>
  <%= link_to "Gallery", root_path %>
  <%= link_to "Artworks", artworks_path %>
  <a href="#about">Contact</a>
  <a href="javascript:void(0);" class="icon" onclick="toggleResponsive()">
    <i class="fa fa-bars"></i>
  </a>
</div>


<script>
/* Toggle between adding and removing the "responsive" class to topnav when the user clicks on the icon */
function toggleResponsive() {
  var x = document.getElementById("myTopnav");
  if (x.className === "topnav") {
    x.className += " responsive";
  } else {
    x.className = "topnav";
  }
}
</script>